section.about.wrapper
	.about__left
		img(src="./images/aboutleft.png")
	.about__right
		.about__title
			h2.about__title-text A little about us
		.about__context 
			p.about__context-text We are  a company based in india with the motto “Digitalally Designed India”. We are  a company based in india with the motto “Digitalally  Designed India”. We are  a company based in india with the motto “Digitalally  Designed India”. 
			p.about__context-text We are  a company based in india with the motto “Digitalally Designed India”. We are  a company based in india with the motto “Digitalally Designed India”.  We are  a company based in India with the motto “Digitalally Designed India”.  We are  a company based in india with the motto “Digitalally Designed India”.
		a(href="#").about__button.button__read.button__read-blue read more details

