section.banner.wrapper
	include header
	.banner
		.banner__slide
			.banner__slide-left
				.icon.icon-arrowleft
			.banner__slide-right
				.icon.icon-arrowleft.rotate180
		.banner__description
			h1.banner__title
				| The best services
			p.banner__text
				| We provide the best services in the world We provide the best services in the world 
			button.banner__button Hire us



	