section.feedback.wrapper
	+section-title('feedback', 'dark')
	.feedback__wrap
		.feedback__content
			p.feedback__content-text It was always a pleasure doing bussiness with them. I love the quality of work.
			.feedback__content-nav
				.feedback__content-nav--left
					.icon.icon-feedbackleft

				.feedback__content-nav--info
					span.feedback__content-nav--info-current 5
					| /
					span.feedback__content-nav--info-all 6

				.feedback__content-nav--right
					.icon.icon-feedbackleft.flip-horizontal

		.feedback__person
			+person_item('person1.png', '1', 'Imran Khan', 'CEO_ Vesso', '2')
			+person_item('person2.png', '2', 'Вырви Глаз', 'IBM', '3')
			+person_item('person3.png', '3', 'Jack Sparrow', 'Adobe', '4')
			+person_item('person1.png', '4', 'Pietr Pervyi', 'Facebook', '5')
			+person_item('person2.png', '5', 'Volodya Putin', 'Twitter', '0')
			+person_item('person3.png', '6', 'Donald Trump', 'TuTby', '1')


