section.queries.wrapper
	.queries__info
		h3.queries__info-title 
			| Any Queries | Get a quote
		p.queries__info-text
			| If you have any questions or queries regarding our service or pricing don’t worry 
			br
			| Our experts will call you.
	.queries__subscribe
		form(action="#").queries__subscribe-form
			input#queries__subscribe-form--name(type="text" placeholder="Your name")
			input#queries__subscribe-form--number(type="tel" placeholder="Your number")
			input#queries__subscribe-form--submit(type="submit" value="Get a call")


