section.services.wrapper
	+section-title('Our services', 'dark')
	.services__items
		.services__item
			+webdevitem('webdev', 'Web DEVELOPMENT', 'We provide the best world class web  development service ')

		.services__item.services__item--active
			+webdevitem('html5', 'Web DEVELOPMENT', 'We provide the best world class web  development service We provide the best world class web  development service')

		.services__item
			+webdevitem('react', 'Web DEVELOPMENT', 'We provide the best world class web  development service We provide the best world class web  development service We provide the best world class web  development service')
	.services__arrow
		.services__arrow-left
			p#services-to-left &lt;
		.services__arrow-right
			p#services-to-right &gt;
