.clients{
	background-color: #fbfbfb;
}
.clients__content{
	margin-top: 22px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: #fff;
}

/* .clients__content-item - in blocks */