<svg xmlns="http://www.w3.org/2000/svg" width="75" height="30" viewBox="0 0 75 30" class="header__logo-image">
    <text x="0" y="30"><tspan fill="#fff">LO</tspan><tspan fill="#da2345">GO</tspan></text>
</svg>