//- header items
- var menuItems = ['Home', 'About', 'Services', 'Portfolio', 'Shop', 'Contacts', 'Pages']
- 
	var linkUrls = {
		fbhead:'facebook.com', 
		twhead:'twitter.com', 
		gphead:'google.com'
	}

//- footer left items
- var proditems = ["Cost & Governance", "Security & Complaince", "Product N", "Pricing & plans"]
- var learnitems = ['Articles', 'Register a demo', 'Webinars', 'FAQs']
- var companyitems = ['About', 'Careers', 'Partners', 'Contact']

//- footer right social icons
- 
	var iconsocialfoot = {
		fb:"facebook.com", 
		tw:"twiter.com", 
		gp:"google.com", 
		dr:"dr.com", 
		be:"be.com", 
		in:"instagram.com"
	}

//- clients
- 
	var clientsItem = {
		adobe:"adobe.com",
		hcl:"hcl.com",
		infosys:"infosys.com",
		invision:"invision.com",
		cisco:"cisco.com",
		behance:"behance.com",
		canva:"canva.com",
		instagram:"instagram.com", 
	}
