.section__title{
	width: 100%;
	height: 139px;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 800px){
		height: 110px;
	}

	@media (max-width: 600px){
		height: 70px;
	}

	&--dark{
		background-color: #3a3a3a;
	}

	&--light{
		background-color: #fefefe;
	}
	

}
.title {
	&__text{
		display: inline-block;
		text-align: center;
		text-transform: uppercase;
		margin: 0 30px;

		@media (max-width: 600px){
			margin: 0 10px -5px;
		}


		&--dark{
			color: #f7f7f7;
		}

		&--light{
			color: #656464;
		}

		&-content{
			font-family: $ff-menu;
			font-weight: 400;
			font-size: 40px;
			line-height: 26px;

			@media (max-width: 800px){
				font-size: 32px;
				line-height: 20px;
			}

			@media (max-width: 600px){
				font-size: 24px;
				line-height: 16px;
			}

		}

	}

	&__decor {
		display: inline-block;
		width: 230px;
		
		@media (max-width: 800px){
			width: 180px;
		}

		@media (max-width: 600px){
			width: 120px;
		}

		@media (max-width: 400px){
			width: 80px;
		}

		&-left{
			height: 26px;
			
			&--dark,
			&--light{
				position: relative;

				&::after{
					content: '';
					position: absolute;
					bottom: -2px;
					right: 0;
					width: 50px;

					@media (max-width: 600px){
						width: 30px;
					}
				}
			}

			&--dark{
				border-bottom: 1px solid #e5e5e5;

				&::after{
					border-bottom: 3px solid #fff;
				}
			}

			&--light{
				border-bottom: 1px solid #797979;

				&::after{
					border-bottom: 3px solid #656464;
				}
			}
		}
	}

}
