.services__item {
	width: 33.3%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #3d3d3d;
	text-align: center;
	font-family: $ff-menu;
	color:  #f7f7f7;

	@media (max-width: 750px){
		width: 50%;
	}

	@media (max-width: 500px){
		width: 100%;
	}


	&--active {
		background-color: #097e89;
	}

	&-img{
		margin-top: 144px;
	}

	&-title {
		font-size: 24px;
		font-weight: 700;
		line-height: 26px;
		text-transform: uppercase;
		margin: 20px auto 20px;
	}

	&-text {
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		flex:1;
	}

	&-button{
		margin: 0 auto 137px;
		text-decoration: none;
		border-radius: 2px;
		background-color: #959595;
		width: 143px;
		height: 29px;
		line-height: 29px;
		color:  inherit;
		font-size: 12px;
		line-height: 29px;
		text-align: center;
	}
}